<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="BatteryService"
			address="net.tcp://localhost:4000/ServiceBattery"
			binding="netTcpBinding"
			contract="Common.Services.IBatteryAnalysisService" />
		</client>
	</system.serviceModel>
</configuration>